.navbar {
  height: 700px;
  width: 300px;
  padding: var(--mantine-spacing-md);
  display: flex;
  flex-direction: column;
  background-color: var(--mantine-color-orange-filled);
}

.navbarMain {
  flex: 1;
}

.header {
  padding-bottom: var(--mantine-spacing-md);
  margin-bottom: calc(var(--mantine-spacing-md) * 1.5);
  border-bottom: 1px solid var(--mantine-color-orange-7);
}

.footer {
  padding-top: var(--mantine-spacing-md);
  margin-top: var(--mantine-spacing-md);
  border-top: 1px solid var(--mantine-color-orange-7);
  margin-top: auto;
}

.version {
  background-color: var(--mantine-color-orange-7);
  color: var(--mantine-color-white);
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: var(--mantine-font-size-sm);
  color: var(--mantine-color-white);
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
  border-radius: var(--mantine-radius-sm);
  font-weight: 500;

  @mixin hover {
    background-color: var(--mantine-color-primary);
    color: var(--mantine-color-white);

    .linkIcon {
      color: var(--mantine-color-white);
    }
  }

  &[data-active] {
    &,
    &:hover {
      box-shadow: var(--mantine-shadow-sm);
      background-color: var(--mantine-color-white);
      color: var(--mantine-color-orange-9);

      .linkIcon {
        color: var(--mantine-color-orange-9);
      }
    }
  }
}

.linkIcon {
  color: var(--mantine-color-orange-1);
  margin-right: var(--mantine-spacing-sm);
  width: 25px;
  height: 25px;
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: var(--mantine-font-size-sm);
  color: var(--mantine-color-white);
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
  border-radius: var(--mantine-radius-sm);
  font-weight: 500;
  transition: background-color 0.2s, color 0.2s;
}

.link:hover {
  background-color: var(--mantine-color-orange-7);
  color: var(--mantine-color-white);
}

.linkIcon {
  color: var(--mantine-color-orange-1);
  margin-right: var(--mantine-spacing-sm);
  width: 25px;
  height: 25px;
}

.link[data-active="true"] {
  background-color: var(--mantine-color-white) !important;
  color: var(--mantine-color-orange-9) !important;
  box-shadow: var(--mantine-shadow-sm);
}

.link[data-active="true"] .linkIcon {
  color: var(--mantine-color-orange-9) !important;
}
