body {
    margin: 0;
    background-color: #feb2b2;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

.box {
    padding: 10px;
    border: 2px dashed black;
}

.empty {
    background-color: transparent;
}

.red {
    background-color: #e53e3e;
    color: white;
}

.green {
    background-color: #38a169;
    color: white;
}

.blue {
    background-color: #3182ce;
    color: white;
}
