.user {
    display: block;
    width: 100%;
    color: light-dark(var(--mantine-color-primary-6), var(--mantine-color-primary-3));
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
    border-radius: 8px;
  
    @mixin hover {
      background-color: light-dark(var(--mantine-color-primary-2), var(--mantine-color-primary-9)) ;
      opacity: 0.9;
    }
  }